.action-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem 1rem 0.7rem 1rem;
}

.action-row .action-row-label {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #4a567a;
}

.friend-list-sidebar {
  display: flex;
  align-items: center;
  height: 1.5rem;
}

.friend-list-sidebar .userAvatar {
  transform: scale(0.6);
  margin: 0 0.2rem 0 -1rem;
}
