.noMessageIcon,
.noMessageHeading {
  font-size: 2rem;
  color: white;
  line-height: 1.1;
  max-width: 300px;
}

.noMessageIcon {
  margin-top: 10rem;
}

.noMessageParagraph {
  color: #9da6c4;
  line-height: 1.5;
  max-width: 320px;
}

.noMessageDivider {
  margin: 3rem 0;
  height: 1px;
  background-color: #4a567a;
  opacity: 0.5;
  border: none;
}

.messageWrapper {
  display: flex;
  margin-bottom: 1.5rem;
}

.messageWrapper .messageUserAvatar {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #29419f, #a34fec);
  margin-right: 1rem;
}

.messageWrapper:nth-child(2n) .messageUserAvatar {
  background: linear-gradient(to bottom right, #e45655, #a13754);
}

.messageWrapper p {
  margin: 0;
  padding: 0;
  color: white;
  margin-bottom: 0.8rem;
}

.messageWrapper .messageUsernameWrap {
  display: flex;
  align-items: center;
}

.messageWrapper .messageUserName {
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  color: #9da6c4;
  margin-right: 0.5rem;
}

.messageWrapper.blocked .messageUserNamem,
.messageWrapper.blocked p {
  color: #7c849f;
}

.messageWrapper.blocked .messageUserAvatar {
  background: #272c43;
}

.messageInvite-wrapper {
    background: #121727;
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    display: inline-flex;
}

.messageInvite-accent {
    background: #35E2A2;
    width: 10px;
    height: 100%;
}

.messageInvite-content {
    padding-left: 2rem;
    position: relative;
    width: 100%;
}

.messageInvite-user {
    font-size: 16px;
    color: white;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.messageInvite-user .messageUserAvatar {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.messageInvite-content p {
    font-weight: bold;
    width: 35%;
    padding-bottom: 0.5rem;
}

.messageInvite-user {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.messageInvite-content .red-cube,
.messageInvite-content .dark-cube {
    position: absolute;
    top: 0;
    right: 0;
    height: 5rem;
    width: 5rem;
    transform: rotate(30deg);
}

.messageInvite-content .red-cube {
    background: linear-gradient(to bottom, #e45655, #a13754);
    height: 8rem;
    width: 8rem;
    right: -1.5rem;
    top: -2rem;
}

.messageInvite-content .dark-cube {
    background: #262B41;
    height: 7rem;
    width: 7rem;
    right: -1.5rem;
    top: 5rem;
}
