.styled-no-input .input-text {
  color: white;
  padding: 0;
  margin: 0;
}

.styled-no-input-label {
  color: white;
  font-weight: bold;
  text-align: left;
  display: block;
  padding: 1rem 0;
  margin: 0;
}

.styled-no-input {
  border-radius: 3px;
  background-color: #252a40;
  border: none;
  display: block;
  width: 100%;
  color: white;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  outline: none;
  line-height: initial;
  user-select: none;
}

.styled-no-input-container {
  flex: 1;
}

.styled-input label .text {
  color: white;
  font-weight: bold;
  text-align: left;
  display: block;
  padding: 1rem 1.5rem;
}

.styled-input label .no-padding {
  color: white;
  font-weight: bold;
  text-align: left;
  display: block;
  padding: 1rem 0;
}

.styled-input input {
  border-radius: 3px;
  background-color: #252a40;
  border: none;
  display: block;
  width: 100%;
  color: white;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  outline: none;
}

.styled-input input.lighter {
  background-color: #2f344d;
}

.styled-input input.lighter:focus,
.styled-input input.lighter:hover {
  background-color: #383e58;
}

.styled-input input:focus,
.styled-input input:hover {
  background-color: #2f344d;
}

.styled-input input::placeholder {
  color: #7f86a3;
}
