.wrapper-alert {
  display: flex;
  height: 100vh;
  flex-direction: column;
  min-height: 0;
}

.wrapper {
  flex: 1;
  display: flex;
  min-height: 0;
}

.sideNav {
  width: 400px;
  padding: 0 1.5rem;
  box-sizing: border-box;

  background-color: #15192a;
}

.sideNav .top {
  color: white;
  height: 4.5rem;
  padding: 0 0.8rem;
  display: flex;
}

.content {
  flex: 1;
}

.wrapper-alert .alert {
  background-color: #cb3e48;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-alert .alert .icon {
  margin-right: 0.5rem;
  color: white;
}
