.channel-settings-view {
  color: white;
  display: block;
  width: 60rem;
  max-width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.channel-settings-view .card {
  background: #15192a;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 1rem;
}

.channel-settings-wrapper {
  display: flex;
}

.channel-settings-expand {
  flex: 1;
}

.channel-settings-view .text-wrapper.password {
  display: flex;
  align-items: flex-end;
}

.channel-settings-view .text-wrapper.password Button {
  height: 50%;
  margin-left: 0.5rem;
}

.channel-settings-view .info-card {
  background: #1e253d;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  height: 10rem;
  width: 15rem;
  margin-left: 6rem;
  margin-right: 2rem;
}

.channel-settings-view .card ul {
  list-style: none;
  padding: 0;
}

.channel-settings-view .card ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0.5rem;
}

.channel-settings-view .card ul > li .hideUnselected {
  display: none;
}

.channel-settings-view .card ul > li:hover .hideUnselected {
  display: block;
}

.channel-settings-view .card ul > li:hover {
  background: #23273b;
  border-radius: 10px;
}

.channel-settings-view .card ul li .user {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.channel-settings-view .user .tag {
  background-color: #6b3aab;
  color: white;
  padding: 0.1rem 0.6rem;
  border-radius: 4px;
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}
