.channel-settings-view {
  color: white;
  display: block;
  width: 80rem;
  max-width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.channel-settings-view .card {
  background: #15192a;
  border-radius: 10px;
  padding: 2rem 2rem 3rem 2rem;
  margin-bottom: 1rem;
}

.channel-settings-wrapper {
  display: flex;
}

.channel-settings-expand {
  flex: 1;
}
