.GameMatchView {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  flex-direction: column;
  text-align: center;
  overflow-y: auto;
  padding: 4rem 1rem;
  box-sizing: border-box;
}

.GameMatchView .GameMatchView-heading {
  color: white;
  max-width: 100%;
  width: 20rem;
  margin-bottom: 4rem;
  line-height: 1.25;
}

.GameMatchView .GameMatchView-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: -0.5rem;
  box-sizing: border-box;
}

.ladderCardSkeleton {
  background-color: #15192a;
  border-radius: 10px;
  display: flex;
  height: 15rem;
  width: 100%;
  max-width: 30rem;
  min-width: 25rem;
  margin: 0.5rem;
}

.ladderCard {
  background-color: #15192a;
  border-radius: 10px;
  display: flex;
  height: 15rem;
  width: 100%;
  max-width: 30rem;
  min-width: 25rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 2rem;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  overflow: hidden;
  margin: 0.5rem;
  position: relative;
  transition: transform 100ms ease-in-out, background-color 100ms ease-in-out;
  user-select: none;
}

.ladderCard .ladderCard-deco {
  font-size: 13rem;
  position: absolute;
  right: -2rem;
  bottom: 1rem;
  transform: rotate(-25deg);
  color: #2a2f47;
  transition: transform 100ms ease-in-out, color 100ms ease-in-out;
}

.ladderCard:hover {
  transform: scale(1.02);
  background-color: #2a2f47;
}
.ladderCard:active {
  transform: scale(1);
  background-color: #232941;
}
.ladderCard:hover .ladderCard-deco {
  transform: rotate(-15deg);
}

.ladderCard .ladderCard-title {
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}

.ladderCard-rank {
  font-size: 1rem;
  font-weight: bold;
  color: #6c6381;
  margin: 0 0 0.5rem 0;
}

.ladderCard .ladderCard-description {
  font-size: 1rem;
  color: #9da6c4;
  line-height: 1.25;
  margin: 0;
  font-weight: normal;
  max-width: 12rem;
  text-align: left;
}

.ladderCard .ladderCard-icon {
  margin-bottom: 1rem;
  font-size: 2em;
}

/* colors */
.ladderCard.ladderCard-color-blue .ladderCard-icon,
.ladderCard.ladderCard-color-blue:hover .ladderCard-deco {
  color: #4191ee;
}

.ladderCard.ladderCard-color-yellow .ladderCard-icon,
.ladderCard.ladderCard-color-yellow:hover .ladderCard-deco {
  color: #f2ec4a;
}
.ladderCard.ladderCard.ladderCard-color-yellow .ladderCard-deco {
  right: -4rem;
  bottom: -3rem;
  font-size: 15rem;
  transform: rotate(20deg);
}
.ladderCard.ladderCard.ladderCard-color-yellow:hover .ladderCard-deco {
  transform: rotate(15deg);
}

/* rank colors */
.ladderCard-rank-color-bronze {
  color: #b9755a;
}

.ladderCard-rank-color-silver {
  color: #bcb8c5;
}

.ladderCard-rank-color-yellow {
  color: #f2ec4a;
}

.ladderCard-rank-color-blue {
  color: #4db7e0;
}

.ladderCard-rank-color-sparkles {
  color: #f05f7e;
  text-shadow: 0 0 15px rgb(226, 78, 140);
}
